<h1>新規投稿ページ</h1>

<p>ヘルパーメソッドの投稿欄です</p>
<%= form_with url: "/posts", method: :post, local: true do |form|%>
  <%= form.text_field :content%>
  <%= form.submit "投稿する"%>
<%end%>

<p>link_toメソッドです</p>
<%= link_to 'Googleへ飛ぶ', 'https://www.google.com/' %>